<div class='row justify-content-center'>
	<div class='col-lg-5 col-md-6 col-sm-12'>
		<form
			method='post'
			action='http://localhost:3000/login'
			class='border rounded w-100 mb-5 mx-auto px-3 pt-3'
		>
			<h3 class='text-center mb-4 m-color'>User Login</h3>
			<div class='form-group'>
				<label for='username'>Username</label>
				<input
					value=''
					name='username'
					id='username'
					type='text'
					class='form-control'
					placeholder='Username'
				/>
			</div>
			<div class='form-group'>
				<label for='password'>Password</label>
				<input
					name='password'
					value=''
					id='password'
					type='password'
					class='form-control'
					placeholder='Password'
				/>
			</div>
			<div class='form-group custom-control custom-checkbox'>
				<input
					name='remember'
					type='checkbox'
					class='custom-control-input'
					id='remember'
				/>
				<label class='custom-control-label' for='remember'>Remember login</label>
			</div>
			<div class='form-group'>
				<button class='btn btn-success w-100 bg-color border-0'>Login</button>
			</div>
			<div class='form-group'>
				<p>Don't have an account yet?
					<a class='m-color' href='register'>Register now</a>.</p>
				<p>Forgot your password?
					<a class='m-color' href='forgot'>Reset your password</a>.</p>
			</div>
		</form>
	</div>
</div>