<div id="register-box" class="row justify-content-center">
    <div class="col-lg-6 col-md-8 border mb-4 p-4 rounded mx-3">
        <h3 class="text-center m-color mb-4">Create a new account</h3>
        <form method="" action="" novalidate>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="firstname">First name</label>
                    <input value="" name="first" required class="form-control" type="text" placeholder="First name" id="firstname">
                </div>
                <div class="form-group col-md-6">
                    <label for="lastname">Last name</label>
                    <input value="" name="last" required class="form-control" type="text" placeholder="Last name" id="lastname">
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input value="" name="email" required class="form-control" type="email" placeholder="Email" id="email">
            </div>
            <div class="form-group">
                <label for="user">Username</label>
                <input value="" name="user" required class="form-control" type="text" placeholder="Username" id="user">
            </div>
            <div class="form-group">
                <label for="pass">Password</label>
                <input  value="" name="pass" required class="form-control" type="password" placeholder="Password" id="pass">
            </div>
            <div class="form-group">
                <label for="pass2">Confirm Password</label>
                <input value="" name="pass-confirm" required class="form-control" type="password" placeholder="Confirm Password" id="pass2">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success bg-color mt-3 border-0">Register</button>
                <button type="reset" class="btn btn-outline-success mt-3 ml-1">Reset</button>
            </div>
            <div class="form-group">
                <p>Already have an account? <a class="m-color" href="login">Login now.</a></p>
            </div>
        </form>
    </div>
</div>